---
---

<p class="ipncity-logo">IPNCITY</p>
<img src="https://drive.google.com/file/d/1BqOEDa-LJyFpuzbK0K5egHWgl-J2F48H/view?usp=sharing" alt="IPNCITY">

<style>
	.ipncity-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.ipncity-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
