<a href="/" class="site-logo">
  <img src="/src/components/logo_en.png" alt="회사 로고" class="logo-img" />
</a>

<style>
  .site-logo {
    display: inline-block;
  }

  .logo-img {
    height: 32px;   /* 필요하면 숫자 조절 */
    width: auto;
    display: block;
  }
</style>
