<a href="/" class="site-logo">
  <img src="/img/logo_en.png" alt="IPNCITY" class="logo-img" />
</a>

<style>
  .site-logo {
    display: inline-block;
  }

  .logo-img {
    height: 320px;   /* 필요하면 숫자 조절 */
    width: auto;
    display: block;
  }
</style>
